table{
    width: 100%;
    vertical-align: center;
    border-collapse: collapse;
    border: 2px solid #ecfcff;
    background-color: #b2fcff;
}

th {
    background-color: #5edfff;
    padding: 18px;
    text-align: center;
    border: 2px solid #ecfcff;
}

td{
    border: 2px solid #ecfcff;
    font-size: small;
}

tr:hover {
    background-color: #8fc8ca;
}

img {
    width: 20px;
    height: 20px;
    opacity: 0.7;
}

img:hover {
    cursor: pointer;
    opacity: 1;
}

.input-group{
    width: 30%;
    margin: 10px;
}

.btn-outline-info{
    margin-right: 30px;
}