table{
    width: 100%;
    vertical-align: center;
    border-collapse: collapse;
    border: 2px solid #ecfcff;
    background-color: #b2fcff;
}

th {
    background-color: #5edfff;
    padding: 18px;
    text-align: center;
    border: 2px solid #ecfcff;
}

td{
    border: 2px solid #ecfcff;
    font-size: small;
}

tr:hover {
    background-color: #8fc8ca;
}