.navigation{
    list-style: none;
    text-align: center;
    background-color: #5edfff;
    height: 50px;
    width: 100%;
    font-weight: bold;
    
    display: flex;
    align-items: center;
}

li{
  flex-grow: 1; 
  border-style: solid;
  border-color: #49aec7;
}
    
a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: black;
}
  
a:hover {
  background: #49aec7;
}

.activo{
  border-style: double;
  border-color: #49aec7;
}
  