.list {
    height: 50px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 22px;

    padding: 30px;
    margin-top: 20px;
}

img {
    float: left;
    margin-left: 15px;
    width: 45px;
    height: 45px;
    opacity: 0.7;
}

img:hover {
    cursor: pointer;
    opacity: 1;
}

.items {
    text-align: right;

    border-style: double;
    border-color: #49aec7;
    border-radius: 8px;
    width: 90%;
    padding: 8px;
    text-decoration: none;
    display: block;
    color: black;
    background-color: #b2fcff;
}

text {
    margin-right: 15px;
}

.info {
    text-align: center;
}
